In [16]:
# 이터레이터
nums = [1,2,3,4,5,6]

r_nums = reversed(nums)

print("reversed_nums : ", r_nums)
print(next(r_nums))
print(next(r_nums))
print(next(r_nums))
print(next(r_nums))
print(next(r_nums))
print(next(r_nums))

reversed_nums :  <list_reverseiterator object at 0x0000018310E53FA0>
6
5
4
3
2
1

## chap5.함수

In [22]:
# 함수 만들기 : def 함수명():

# 매개변수가 없는 함수
def print_3_times():
    print("hello")
    print("hello")
    print("hello")
    
print_3_times()

hello
hello
hello

In [28]:
# 매개변수가 있는 함수
def print_n_times(value, n):
#     i = 0
#     while i < n:
#         print(value)
#         i += 1
    for i in range(n):
        print(value)
        
print_n_times('test', 4)

test
test
test
test

In [33]:
# 가변 매개변수 : 함수명(매개변수, *변수명)
def print_n_var_times(n, *values):
    for i in range(n):
        for value in values:
            print(value)
        print()

print_n_var_times(2,'test', 'hello', 'python')

test
hello
python

test
hello
python

In [37]:
# 기본 매개변수 : 함수명(매개변수, 기본매개변수 = 값)
def print_n_time(value, n=2):
    for i in range(n):
        print(value)
    print()

print_n_time('test')
print_n_time('test', 5)

test
test

test
test
test
test
test

In [47]:
# 기본 매개변수와 가변 매개변수가 같이오는 경우
def print_n_var_time(*values, n=2):
    for i in range(n):
        for value in values:
            print(value)
        print()

print_n_var_time('test', 'hello', 'python2', n = 3)

test
hello
python2

test
hello
python2

test
hello
python2

In [56]:
# 일반 매개변수, 가변 매개변수, 키워드 매개변수 순서로
def test_func(a, b=10, c=20):
    print(a+b+c)

test_func(1)
test_func(c = 100, b = 20, a = 100)
test_func(c = 100, a = 100)

31
220
210

In [59]:
def test_func1(a, b=10, c=20):
    return (a+b+c)
print(test_func1(100))

130

In [61]:
# start, stop, step을 이용하여 합을 구하는 함수 작성
def sum_func(start=0, stop=100, step=1):
    total = 0
    for i in range(start, stop+1, step):
        total += i
    return total

print("0부터 100까지 합을 구함:",sum_func())
print("0부터 100까지 짝수의 합을 구함:",sum_func(step=2))
print("0부터 100까지 홀수의 합을 구함:",sum_func(start=1, step=2))

0부터 100까지 합을 구함: 5050
0부터 100까지 짝수의 합을 구함: 2550
0부터 100까지 홀수의 합을 구함: 2500

In [64]:
# 자신을 호출 : 재귀함수
# 팩토리얼
def fac_func(n) :
    if n == 0:
        return 1
    else:
        return n* fac_func(n-1)
fac_func(14)

In [68]:
# 피보나치를 구하는 함수 작성 : fibo(n) =fibo(n-1)+fibo(n-2),, n==1 or 2면 
def fibo(n):
    if n==1 or n==2 :
        return 1
    else:
        return fibo(n-1)+fibo(n-2)

In [75]:
cnt = 0
fibo(30)

832040

In [2]:
# 메모화 : 메모 변수를 생성
dict_num = {1:1, 2:1}

def fibo_mem(n):

    if n in dict_num:
        return dict_num[n]
    else:
        output = fibo_mem(n-1) + fibo_mem(n-2)
        dict_num[n] = output
        return output

In [7]:
fibo_mem(50)

12586269025

In [9]:
# 함수 고급 : tuple -> (), lambda 함수
(a, b) = (10, 20)
print(a)

b, a = a, b
print(a,b)

10
20 10

In [11]:
def test():
    return 10, 20

a,b = test()
print(a,b)

10 20

In [16]:
# tuple -> a_tuple = (10, 20, 30) -> 자료의 수정 불가
a_tuple = (1, 2, 3, 4)
for i, value in enumerate(a_tuple):
    print("{}번째의 값 {}".format(i,value))
# a_tuple[0] = 10 error! tuple은 자료 수정 불가

0번째의 값 1
1번째의 값 2
2번째의 값 3
3번째의 값 4

In [23]:
# 람다 : lambda
# 함수의 매개변수로 함수명 전달
def call_5_times(func):
    for i in range(5):
        func()

def print_hello():
    print('Hello')
    
call_5_times(print_hello)

Hello
Hello
Hello
Hello
Hello

In [30]:
def power(item):
    return item * item
def under_3(item):
    return item < 3
# map(함수명, 리스트) -> 리스트의 값들을 하나씩 함수에 적용
# filter(함수명, 리스트) -> 함수의 리턴값이 True인 자료만 추출
input_list = [1,2,3,4,5]

output = map(power, input_list)
print(list(output))

print(list(filter(under_3, input_list)))

[1, 4, 9, 16, 25]
[1, 2]

In [36]:
# lambda 매개변수:리턴값
input_list = [1,2,3,4,5]

output = map(lambda x:x*x, input_list)
print(list(output))

print(list(filter(lambda x:x<3, input_list)))

[1, 4, 9, 16, 25]
[1, 2]

In [42]:
# 파일 처리 : open(), file.write(), file.close(), file.read()
# 현재 경로에서 새로운 디럭터리 dataset을 생성
# dataset 안에 새로운 파일 test, txt 파일을 생성
# test.txt 파일에 'hello python programming'을 작성하고 파일 close()
!mkdir dataset

file = open("./dataset/test.txt", 'w')
file.write('hello python programming')
file.close()

하위 디렉터리 또는 파일 dataset이(가) 이미 있습니다.

In [48]:
file = open('./dataset/test.txt', 'r')
contents = file.read()
print(contents)
file.close()

hello python programming

In [51]:
# file open with와 같이 사용 -> with 종료시 자동으로 파일 close가 됨
with open('./dataset/test.txt', 'r') as file:
    contents = file.read()
print(contents)

hello python programming

In [53]:
import os
os.getcwd()

'C:\\Users\\HPE\\Desktop\\python-src\\220628'

In [64]:
# 제너레이터 함수 작성 : 함수 내부에 yield 키워드를 사용
def gen_test():
    print('First ')
    yield 1
    
    print('Second ')
    yield 2

    print('Third ')
    
o_func = gen_test()
    
print("main start")
a = next(o_func)
print(a)
a = next(o_func)
print(a)

main start
First
1
Second
2

In [68]:
books = [{
    "제목":"혼공파",
    "가격": 18000
}, {
    "제목":"혼공머",
    "가격": 26000
}, {
    "제목":"혼공자",
    "가격": 24000
}]

print("가장 저렴한 책")
print(min(books, key = lambda book:book["가격"]))

print("가장 비싼 책")
print(max(books, key = lambda book:book["가격"]))

가장 저렴한 책
{'제목': '혼공파', '가격': 18000}
가장 비싼 책
{'제목': '혼공머', '가격': 26000}

In [74]:
a = [1,2,3,4,5]
b = a
b[1] = 100
print(a)
a = [1,2,3,4,5]
c = a.copy()
c[1] = 100
print(a)
print(c)

[1, 100, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 100, 3, 4, 5]

## chap6. 예외처리

In [78]:
## 실행 오류 : try ~ except ~ else ~ finally
# 실행 오류가 발생할 수 있는 코드 작성
try:
    input_num = int(input("정수 입력"))
    
    print("원의 반지름 : ", input_num)
    print("원의 둘레 : "), input_num * 2 * 3.14
except:
    print("정수가 아님")

정수 입력
정수가 아님

In [79]:
# try :
#     예외 발생 코드
# except:
#    예외 발생 코드
# else:
#    정상 작동시 실행코드

try:
    input_num = int(input("정수 입력"))
    
    print("원의 반지름 : ", input_num)
    print("원의 둘레 : "), input_num * 2 * 3.14
except:
    print("정수가 아님")

정수 입력1
원의 반지름 :  1
원의 둘레 :

In [80]:
#file 처리시 예외처리 응용

try :
    file = open(./dataset//,)
    input_data = input("이름 성적 입력").split*()
    score = int(input_data[1])
    file.write("input_data"+ str(score))
except Exception as e:
    printt("입력 자료 검중 : ",e)

SyntaxError: invalid syntax (3966545737.py, line 4)

In [81]:
def test_func():
    try : 
        print("try 구문 실행")
        return
    except:
        print("except 구문 실행")
    else:
        print("else 구문 실행")
    finally:
        print("try end!")